<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<!-- 맵핑될 DAO 인터페이스의 Full name 을 줍니다. -->
<mapper namespace="kr.co.SAMGUN.dao.NoticeDAO">

<!-- 게시판 리스트 리스트 -->
<select  id="listNoticeType" parameterType="Map" resultType="java.util.HashMap">

	WITH BASE AS(
		SELECT
		ROW_NUMBER() OVER(ORDER BY B.REGNT_DTM DESC) RNUM,
		(SELECT CATEGORY_NM FROM CATEGORY WHERE CATEGORY_ID=B.CATEGORY) CATEGORY_NM,
		B.*,
		(SELECT COUNT(*)FROM BOARD_LIKE WHERE 1=1 AND LIKE_SEQ_NO = B.SEQ_NO) LIKE_CNT2
		FROM BOARD B
		WHERE 1=1
		<if test = 'searchSelector != null'>
			<if test = '"title".equals(searchSelector)'>
				AND TITLE LIKE '%' || #{searchText}|| '%'
			</if>
			<if test = '"contents".equals(searchSelector)'>
				AND CONTENTS LIKE '%' || #{searchText}|| '%'
			</if>
			<if test = '"*".equals(searchSelector)'>
				AND (TITLE LIKE '%' || #{searchText}|| '%' OR CONTENTS LIKE '%' || #{searchText}|| '%')
			</if>
		</if>
		
		
		AND TITLE LIKE '%' ||  #{searchText} || '%'
		AND BOARD_TYPE = #{boardType}
	)
<![CDATA[
	
	SELECT
	SEARCHLIST.*
	FROM
	(
	SELECT
		(SELECT COUNT(*) FROM BASE) totalCnt,
	    (SELECT COUNT(*) FROM BASE) - BASE.RNUM + 1 AS NO,
	    BASE.*
	FROM BASE
	) SEARCHLIST
	WHERE 1=1
	AND (
				SEARCHLIST.RNUM >= (TO_NUMBER(#{pageSize})*(TO_NUMBER(#{pageNo})-1)+1)
			AND SEARCHLIST.RNUM <= (TO_NUMBER(#{pageSize})*TO_NUMBER(#{pageNo}))
		) 

]]>
<!-- AND SEARCH.RNUM BETWEEN TO_NUMBER(#{pageNo}) * TO_NUMBER(#{pageSize}) - TO_NUMBER(#{pageSize}) + 1 AND TO_NUMBER(#{pageNo}) * TO_NUMBER(#{pageSize}) -->
</select>

<!-- 게시글 댓글 등록하기 -->
<insert id="noticeBoardReply" parameterType="Map">	

	INSERT INTO PDS_BOARD (
		SEQ ,	
		BOARD_TYPE,
		TITLE,
		CONTENTS,
		NOTE,
		REG_ID,
		MOD_ID,
		ORIGIN_FILE_NAME1,
		TARGET_FILE_NAME1,
		FILE_EXT1,
		FILE_SIZE1,
		ORIGIN_FILE_NAME2,
		TARGET_FILE_NAME2,
		FILE_EXT2,
		FILE_SIZE2,
		ORIGIN_FILE_NAME3,
		TARGET_FILE_NAME3,
		FILE_EXT3,
		FILE_SIZE3,
		ORIGIN_FILE_NAME4,
		TARGET_FILE_NAME4,
		FILE_EXT4,
		FILE_SIZE4,
		FILE_PATH,
		G_SEQ,
		STEP,
		P_SEQ,
		G_SEQ_ORDER,
		ANS_CNT
	) VALUES (
		(SELECT  MAX(NVL(SEQ,0))+1 FROM PDS_BOARD),
		#{boardType},
		#{sTitle},
		#{sContent},
		#{note},
		#{mId},
		#{mId},
		#{originFileName1},
		#{targetFileName1},
		#{fileExt1},
		#{fileSize1},
		#{originFileName2},
		#{targetFileName2},
		#{fileExt2},
		#{fileSize2},
		#{originFileName3},
		#{targetFileName3},
		#{fileExt3},
		#{fileSize3},
		#{originFileName4},
		#{targetFileName4},
		#{fileExt4},
		#{fileSize4},
		#{filePath},
		#{gSeq},
		(SELECT NVL(STEP,0) + 1 FROM PDS_BOARD WHERE SEQ = #{seq}),
		#{seq},
		#{gSeqOrder},
		#{ansCnt}
		
	)
	
</insert>

<!--  상세보기 정보 -->
<select id="boardDetail" parameterType="Map" resultType="java.util.HashMap">
	
	SELECT 
    A.* ,
    (SELECT COUNT(*)FROM BOARD_LIKE WHERE 1=1 AND LIKE_SEQ_NO = #{seqno}) LIKE_CNT2
    FROM BOARD A
	WHERE seq_no = #{seqno}
	
</select>

<!-- 이전 게시글 -->
<select id="boardPrev" parameterType="Map" resultType="Map">
  <![CDATA[
  SELECT * FROM BOARD WHERE seq_no = (
		 SELECT MAX(SEQ_NO)
		 FROM BOARD
		 WHERE SEQ_NO < #{seqno}
		AND BOARD_TYPE = '20'
	)	
  ]]>
</select>

<!-- 다음 게시글 -->
<select id="boardNext" parameterType="Map" resultType="java.util.HashMap">
  <![CDATA[
  SELECT * FROM BOARD WHERE seq_no = (
		 SELECT MIN(SEQ_NO)
		 FROM BOARD
		 WHERE SEQ_NO > #{seqno}
		AND BOARD_TYPE = '20'
	)	
  ]]>
</select>

<!--  댓글 달기 할때 특성  GSeqOrder 크기에 + 1을 한다.-->
<update  id="boardUpdateGSeqOrder" parameterType="Map">
	
	UPDATE PDS_BOARD SET
		G_SEQ_ORDER = G_SEQ_ORDER + 1 
	WHERE G_SEQ = #{gSeq}
	AND	G_SEQ_ORDER <![CDATA[ >= ]]> #{gSeqOrder}
</update>

<select id="boardFileSelect" parameterType="Map" resultType="java.util.HashMap">
	SELECT * FROM BOARD 
	WHERE SEQ_NO = #{seqno}
	AND BOARD_TYPE = #{boardType}
</select>

<!-- notice_01_modify 영역 끝 -->


<delete id="DeleteNotice" parameterType="Map">
	DELETE FROM BOARD
	WHERE SEQ_NO = #{seqno}
</delete>

<update  id="ViewCntNotice" parameterType="Map">
	
	UPDATE BOARD
	SET VIEW_CNT = VIEW_CNT + 1
	WHERE seq_no = #{seqno}
</update>

<select id="boardLikeSelect" parameterType="Map" resultType="int">
	SELECT 
	COUNT(*) LIKE_CNT
	FROM BOARD_LIKE 
	WHERE 1=1
	AND LIKE_SEQ_NO = #{seqno}
</select>

<select id="boardLikeCheck" parameterType="Map" resultType="int">
	SELECT COUNT(*) LIKE_CNT
	FROM BOARD_LIKE
	WHERE 1=1
	AND LIKE_SEQ_NO = #{seqno}
	AND M_ID = #{m_id}
</select>

<insert id="boardLikeInsert" parameterType="Map">
	insert into BOARD_LIKE
	(
	SEQ_NO,
	M_ID,
	BOARD_TYPE,
	LIKE_SEQ_NO,
	REGNT_ID,
	REGNT_DTM,
	MOD_ID,
	MOD_DTM
	)
	values
	(
	(SELECT MAX(SEQ_NO)+1 FROM BOARD_LIKE),
	#{m_id},
	'20',
	#{seqno},
	#{m_id},
	(SELECT TO_CHAR(SYSDATE, 'YYYY/MM/DD HH24:MI:SS') FROM DUAL),
	#{m_id},
	(SELECT TO_CHAR(SYSDATE, 'YYYY/MM/DD HH24:MI:SS') FROM DUAL)
	)
</insert>

<update  id="LikeCntNotice" parameterType="Map">
	
	UPDATE BOARD
	SET LIKE_CNT = LIKE_CNT + 1
	WHERE seq_no = #{seqno}
</update>

<insert id="NoticeSave" parameterType="Map">
	insert into BOARD
	(
	SEQ_NO,
	TITLE,
	CATEGORY,
	REGNT_ID,
	REGNT_DTM,
	REGNT_NM,
	CONTENTS,
	LIKE_CNT,
	ATTACH_FILE,
	GRP_SEQNO,
	PRT_SEQNO,
	STEP,
	VIEW_CNT,
	MOD_ID,
	MOD_DTM,
	BOARD_TYPE,
	ORIGIN_FILE_NAME1,
	TARGET_FILE_NAME1,
	FILE_EXT1,
	FILE_SIZE1,
	ORIGIN_FILE_NAME2,
	TARGET_FILE_NAME2,
	FILE_EXT2,
	FILE_SIZE2,
	FILE_PATH
	)
	values
	(
	(SELECT MAX(SEQ_NO)+1 FROM BOARD),
	#{title},
	#{category},
	#{regntid},
	(SELECT TO_CHAR(SYSDATE, 'YYYY/MM/DD HH24:MI:SS') FROM DUAL),
	#{regntnm},
	#{contents},
	0,
	0,
	0,
	0,
	0,
	0,
	#{modid},
	(SELECT TO_CHAR(SYSDATE, 'YYYY/MM/DD HH24:MI:SS') FROM DUAL),
	#{boardtype},
	#{originFileName1},
	#{targetFileName1},
	#{fileExt1},
	#{fileSize1},
	#{originFileName2},
	#{targetFileName2},
	#{fileExt2},
	#{fileSize2},
	#{filePath}
	)
</insert>

<update  id="NoticeMod" parameterType="Map">
	
UPDATE BOARD SET 
    TITLE = #{title}
,   CONTENTS = #{contents}
,	CATEGORY = #{category}
,   MOD_ID = #{modid}
,   MOD_DTM = (SELECT TO_CHAR(SYSDATE, 'YYYY/MM/DD HH24:MI:SS') FROM DUAL)
,	ORIGIN_FILE_NAME1 = #{originFileName1}
,	TARGET_FILE_NAME1 = #{targetFileName1}
,	FILE_EXT1 = #{fileExt1}
,	FILE_SIZE1 = #{fileSize1}
,	ORIGIN_FILE_NAME2 = #{originFileName2}
,	TARGET_FILE_NAME2 = #{targetFileName2}
,	FILE_EXT2 = #{fileExt2}
,	FILE_SIZE2 = #{fileSize2}
,	FILE_PATH = #{filePath}
WHERE seq_no = #{seqno}

</update>

<update  id="DeleteFile" parameterType="Map">
	
	UPDATE BOARD SET
	<if test = '"1".equals(data_num)'>
		ORIGIN_FILE_NAME1 = '',
		TARGET_FILE_NAME1 = '',
		FILE_EXT1 = '',
		FILE_SIZE1 = '',
	</if>
	<if test = '"2".equals(data_num)'>
		ORIGIN_FILE_NAME2 = '',
		TARGET_FILE_NAME2 = '',
		FILE_EXT2 = '',
		FILE_SIZE2 = '',
	</if>
	SEQ_NO = #{seqno}
	
	WHERE 1=1
	AND SEQ_NO = #{seqno}
	<if test = '"1".equals(data_num)'>
		AND TARGET_FILE_NAME1 = #{data_id}
	</if>
	<if test = '"2".equals(data_num)'>
		AND TARGET_FILE_NAME2 = #{data_id}
	</if>
	
</update>
</mapper>