.signup{
    padding:30px;
}
.main{
    transform: translate(0,10%);
}
.btn_check_active{
    color:white;
    background-color: #565656;
}
.popup{
    position:fixed;
    width:400px;
    background-color: #fff;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index: 101;
    background-color: rgba(255,255,255,0);
}
.popup > .check_info{
    width:100%;
    border-radius: 25px;
    z-index: 102;
    padding:20px;
    box-shadow: 4px 5px 5px 5px #cfcfcf;
    background-color: #ffffff;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.hidden{
    display: none;
}
.check_info > img{
    width:60px;
}
.check_info > .text{
    color:black;
    text-align: center;
    font-size: 20px;
}
.check_info > span{
    color:grey;
    font-size: 16px;
}
.check_info .nickname{
    color:#39d9c8;
    font-weight: bold;
}
.success  img{
    margin-bottom: 40px;
}
.success  .text{
    margin-bottom: 40px;
}
.fail  img{
    margin-bottom: 15px;
}
.fail  .text{
    margin-bottom: 10px;
}
.diff_id{
    padding:20px;
    background-color: #f7f7f7;
    width:90%;
    border-radius: 20px;
    color:#000000;
    font-weight: bold;

}
.diff_id > .diff_id_input{
    border-radius: 5px !important;
    border:4px solid #bbbbbb;
    width:100%;
    height: 50px;
    padding: 0 10px;
}
.diff_id > button{
    margin-top: 10px;
    width:100%;
    height: 50px;
    background-color: #565656;
    color:#ffffff;
    font-weight: 650;
    border-radius: 5px;
}
.check_info > button{
    width:120px;
    padding:10px;
    border-radius: 15px;
    font-weight: bold;
    background-color: #fff;
    border:2px solid #39d9c8;
    color:#39d9c8;
}
.button_area{
    margin-top: 20px;
}
.button_area > button{
    width:110px;
    height: 40px;
    border-radius: 20px;
}
.button_area > button:first-child{
    background-color: #ffffff;
    color:#39d9c8;
    border: 2px solid #39d9c8;
}
.button_area > button:last-child{
    background-color: #39d9c8;
    color:#ffffff;
}
.btn_signup{
    width:100px;
    height:20px;
}
.pw_info{
    font-size: 12px;
    display: inline-block;
    margin-bottom: 10px;
}
.identify {
	text-align:center;
}